<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About | Password Analyzer</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1> About This Tool </h1>
  <p>This tool analyzes password strength using the zxcvbn library and generates wordlists based on custom inputs (names, birthdays, pets, etc.).</p>
  <p>It's useful for understanding password security and for ethical hacking training (e.g., red teaming).</p>

  <a href="/"> ←  Back to Home</a>
</body>
</html>